// Carousel base class 

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 24rem;
    & > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 24rem;
    }
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}


.alert-cool {
    @include alert-variant(#025a1ff1, #08ff08, #f4fdff);
}
  